# ------------------------------------------------------------------
# DATABASE
# ------------------------------------------------------------------
# These variables are used by docker-compose and the application to
# connect to the database.

DB_USER=user
DB_PASSWORD=password
DB_NAME=magneto
DB_HOST=localhost
DB_PORT=5432

# ------------------------------------------------------------------
# API KEYS
# ------------------------------------------------------------------
# These are the API keys for the services used in the application.

# Deepgram API Key for audio transcription
DEEPGRAM_API_KEY=

# Google Generative AI API Key for Gemini
GOOGLE_API_KEY=

# ------------------------------------------------------------------
# EMAIL
# ------------------------------------------------------------------
# These variables are used to send emails.

# The email address to send emails from
EMAIL_FROM="Sistema de Entrevistas" <agentestartraining@gmail.com>

# The email service to use (e.g., gmail)
EMAIL_SERVICE=gmail

# The email address to use for authentication
EMAIL_USER=

# The password for the email address (use an app password for Gmail)
EMAIL_PASSWORD=